:root {
  /* COLORS */
  --bg-main-color: rgb(69, 69, 69);
  --bg-secondary-color: rgb(26, 26, 26);
  --bg-click-color: brightness(0.7);
  --table-bg-secondary-color: rgb(100, 100, 100);
  --accent-color: dodgerblue;
  --font-main-color: white;
  --link-visited: gray;
  --shadow-color: rgba(0, 0, 0, 0.5);

  /* DIMENSIONS */
  /* Margin */
  --main-margin: 10px;
  --secondary-margin: 20px;
  --form-margin: 10px;
  /* Padding */
  --main-padding: 20px;
  --secondary-padding: 5px;
  /* Borders */
  --main-border-radius: 10px;
  /* Widths */
  --table-cell-min-width: 100px;
  --label-width: 80px;

  /* DURATIONS */
  --normal-transition-duration: 0.2s;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-main-color);
  color: var(--font-main-color);

  min-height: 100dvh;

  position: relative;

  display: flex;
  flex-direction: column;
}

header,
footer {
  padding: var(--main-padding);
}

header {
  background-color: var(--bg-secondary-color);

  font-weight: bold;

  position: sticky;
  top: 0;

  justify-content: center;
  align-items: left;
  flex-direction: column;
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

table,
th,
td {
  border: 1px solid var(--font-main-color);
  border-collapse: collapse;
}

caption {
  position: relative;
}

caption > em {
  position: absolute;
  top: -1.5rem;
  left: 0;
}

tbody > tr > :nth-child(3),
tbody > tr > :nth-child(4),
tbody > tr > :nth-child(5) {
  text-align: center;
}

th,
td {
  min-width: var(--table-cell-min-width);

  padding: var(--secondary-padding);
}

th {
  text-decoration: underline;
}

tr:nth-of-type(2n) {
  background-color: var(--table-bg-secondary-color);
}

tr:hover {
  background-color: var(--accent-color);
}

form {
  margin-top: var(--secondary-margin);
}

fieldset {
  border: none;

  margin: var(--form-margin) 0;
}

label {
  display: inline-block;

  width: var(--label-width);

  text-align: right;
}

main button {
  all: unset;

  margin: var(--secondary-margin);
  padding: var(--secondary-padding) calc(var(--secondary-padding) * 3);

  font-weight: bold;

  background-color: var(--accent-color);

  border-radius: var(--main-border-radius);

  box-shadow: 4px 4px 8px var(--shadow-color);

  transition-duration: var(--normal-transition-duration);
}

table button {
  margin: 0;
}

main button:hover {
  cursor: pointer;

  scale: 1.05;
}

main button:active {
  filter: var(--bg-click-color);

  scale: 1;
}

button.book-read {
  background-color: white;
}

button.delete-book {
  background-color: red;
}

main button#confirm {
  background-color: green;
}

main button#cancel {
  background-color: red;
}

footer {
  background-color: var(--bg-secondary-color);

  position: sticky;
  bottom: 0;

  justify-content: center;
  align-items: center;
}

a {
  color: var(--font-main-color);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
}

.flex-container {
  display: flex;
}

.hidden {
  display: none;
}
